@model TurnierplanViewModel
@{
}

<h1>Turnierplan</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team A</th>
        <th>Team B</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model.GruppenSpiele)
    {
        <tr>
            <th>@item.TeamA.Name</th>
            <th>@item.TeamB.Name</th>
        </tr>
    }
    </tbody>
</table>