@model IEnumerable<Team>
@{
    
}

<h1>Angemeldete Teams</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a asp-controller="Team" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Bearbeiten</a>
                <a asp-controller="Team" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Löschen</a>
            </td>
        </tr>
    }
    </tbody>
</table>