@model IEnumerable<Team>
@{
    
}

<h1>Angemeldete Teams</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Team-Nummer</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
    </tbody>
</table>