@{
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">MitternachtsCup 2023</h1>
    <p class="lead text-muted">Willkommen zum diesjährigen Mitternachtsturnier</p>
    <p>
      <a class="btn btn-primary my-2" asp-area="" asp-controller="Turnierplan" asp-action="Index">Zum Turnierplan</a>
      <a class="btn btn-primary my-2" asp-area="" asp-controller="GruppenPhase" asp-action="Index">Zu den Gruppen</a>
    </p>
  </div>
</section>

