@using MitternachtsCupMVC.Data.Enum
@model CreateSpielViewModel

@{
    
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Platte">Platten</label>
        <select asp-for="Platte" asp-items="@Html.GetEnumSelectList<Platten>()" class="form-control">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="Platte" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartZeit">Startzeit</label>
        <input asp-for="StartZeit" class="form-control" placeholder="StartZeit">
        <span asp-validation-for="StartZeit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SpielDauer">Spieldauer</label>
        <input asp-for="SpielDauer" class="form-control" placeholder="SpielDauer">
        <span asp-validation-for="SpielDauer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TeamA.Name">Team A</label>
        <input asp-for="TeamA.Name" class="form-control" placeholder="NameVonTeamA">
        <span asp-validation-for="TeamA.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TeamB.Name">Team B</label>
        <input asp-for="TeamB.Name" class="form-control" placeholder="NameVonTeamB">
        <span asp-validation-for="TeamB.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>